.container {
  position: relative; /* Essential for the absolute positioning of the menu */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  --editor-menu-size: 24px;
  --editor-menu-gap: 12px;
  --editor-gutter: calc(var(--editor-menu-size) + var(--editor-menu-gap));
}

.input {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  outline: none;
  min-width: 0;
  overflow-x: hidden;
  /* Reserve space for the 24px menu + 8px gap. */
  padding-left: var(--editor-gutter);
  padding-right: 12px;
  padding-top: 12px;
  box-sizing: border-box;
}
.ol {
  padding: 0;
  margin: 0;
  padding-left: 24px;
  list-style-type: decimal;
  color: var(--ui-TextSecondary);
}

.ul {
  padding: 0;
  margin: 0;
  padding-left: 24px;
  list-style-type: disc;
  color: var(--ui-TextSecondary);
}

.listItem {
  margin: 6px 0;
  line-height: 1.5;
  font-family: var(--font-sans);
  font-size: 16px;
}

.nestedListItem {
  list-style-type: none;
}
