.container {
  position: relative; /* Essential for the absolute positioning of the menu */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  outline: none;
  /* Add padding-left here so text doesn't overlap the button */
  padding-left: 32px;
  padding-right: 12px;
  padding-top: 12px;
}
.ol {
  padding: 0;
  margin: 0;
  padding-left: 24px;
  list-style-type: decimal;
  color: var(--ui-TextSecondary);
}

.ul {
  padding: 0;
  margin: 0;
  padding-left: 24px;
  list-style-type: disc;
  color: var(--ui-TextSecondary);
}

.listItem {
  margin: 6px 0;
  line-height: 1.5;
  font-family: var(--font-sans);
  font-size: 16px;
}

.nestedListItem {
  list-style-type: none;
}
